<h1>Listing proposals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Body</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.title %></td>
    <td><%= proposal.summary %></td>
    <td><%= proposal.body %></td>
    <td><%= proposal.score %></td>
    <td><%= link_to 'Show', proposal %></td>
    <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
    <td><%= link_to 'Destroy', proposal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proposal', new_proposal_path %>
