<h1>Listing proposals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.title %></td>
    <td><%= proposal.summary %></td>
    <td><%= link_to 'Show Proposal', proposal %></td>
    <%# If current user isn't business, don't show edit and delete links %>
    <% if (current_user.major == "Business") %>
      <td><%= link_to 'Edit Proposal', edit_proposal_path(proposal) %></td>
      <td><%= link_to 'Destroy Proposal', proposal, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%# If user is busesines user, allow creation of proposal via link.
Otherwise, do not show create proposal link %>
<% if (current_user.major == "Business") %>
  <%= link_to 'New Proposal', new_proposal_path %>
<% end %>
