<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @proposal.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @proposal.summary %>
</p>

<p>
  <b>Body:</b>
  <%= @proposal.body %>
</p>

<p>
  <b>Score:</b>
  <%= @proposal.score %>
</p>

<p>
  <b>User:</b>
  <%= @proposal.user_id %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>

<h3>Reviews</h3>
<div id="reviews">
<% if @proposal.has_reviews?(@proposal.id) %>
  <% @proposal.get_reviews(@proposal.id).each do |review| %>
    <p><strong>Rating: </strong><%= review.rating %></p>
    <p><strong>Plausible Language: </strong><%= review.plausible_language %></p>
    <p><strong>Comment: </strong><%= review.comment %></p>
    <p><%= link_to 'Show', review %>
    <%= link_to 'Edit', edit_review_path(review) %>
    <%= link_to 'Destroy', review, confirm: 'Are you sure?', method: :delete %></p>
  <% end %>
<% else %>
  There are no reviews for this proposal.
<% end %>

<%= link_to "Add Review", new_review_path(:proposal_id => @proposal.id ) %>

</div>
