<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @proposal.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @proposal.summary %>
</p>

<p>
  <b>Body:</b>
  <%= @proposal.body %>
</p>

<%# If current user is the owner of the proposal, then show modify and delete links %>
<% if user_is_owner_of_proposal?(@proposal.user_id) %>
  <%= link_to 'Edit', edit_proposal_path(@proposal) %>
  <%= link_to 'Delete', @proposal, confirm: 'Are you sure?', method: :delete %></p>
<% end %>

<h3>Reviews</h3>
<div id="reviews">
<% if @proposal.has_reviews?(@proposal.id) %>
  <% @proposal.get_reviews(@proposal.id).each do |review| %>
    <p><strong>Rating: </strong><%= review.rating %></p>
    <p><strong>Plausible Language: </strong><%= review.plausible_language %></p>
    <p><strong>Comment: </strong><%= review.comment %></p>
    <%# If the current user owns the review show the modify and delete links %>
    <% if user_is_owner_of_review?(review.user_id) %>
      <p><%= link_to 'Edit Review', edit_review_path(review) %>
      <%= link_to 'Delete Review', review, confirm: 'Are you sure?', method: :delete %></p>
    <% end %>
  <% end %>
<% else %>
  There are no reviews for this proposal.
<% end %>

<%# If the current user is an engineering major and the user hasn't created a review for this
proposal, then show the link the user to add a review %>
<p><% if (current_user.major == "Engineering") && (user_has_no_review_here(@proposal.id)) %>
  <%= link_to "Add Review", new_review_path(:proposal_id => @proposal.id ) %>
   |
<% end %>

<%= link_to 'Back', proposals_path %></p>

</div>
