<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @proposal.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @proposal.summary %>
</p>

<p>
  <b>Body:</b>
  <%= @proposal.body %>
</p>

<p>
  <b>Score:</b>
  <%= @proposal.score %>
</p>

<p>
  <b>User:</b>
  <%= @proposal.user_id %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>

<h3>Reviews</h3>
<div id="reviews">
<% if @proposal.reviews.exists? %><co id='ch09_191_1' />
<%= render @proposal.reviews.select(&:persisted?) %>
<% else %>
There are no reviews for this proposal.
<% end %>
</div>
