<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @proposal.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @proposal.summary %>
</p>

<p>
  <b>Body:</b>
  <%= @proposal.body %>
</p>

<p>
  <b>Score:</b>
  <%= @proposal.score %>
</p>

<p>
  <b>User:</b>
  <%= @proposal.user_id %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>

<h3>Reviews</h3>
<div id="reviews">
<% if @reviews.count > 0 %>
  <% @reviews.each do |review| %>
    <%= review.proposal_id %></td>
    <%= review.user_id %></td>
    <%= review.comment %></td>
    <%= review.rating %></td>
    <%= review.plausible_language %></td>
    <%= review.user_interested %></td>
    <%= link_to 'Show', review %></td>
    <%= link_to 'Edit', edit_review_path(review) %></td>
    <%= link_to 'Destroy', review, confirm: 'Are you sure?', method: :delete %>
  <% end %>
<% else %>
There are no reviews for this proposal.
<% end %>
</div>
